/* Overrides and extra defs on top of pure-min.css. */

/* Dialogs */
.splash-container {
    border-bottom: 2px solid #848282;
    border-right: 2px solid #848282;
    border-top: 1px solid #D9D9D8;
    border-left: 1px solid #D9D9D8;
    background: #FFF;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0px; left: 5px; bottom: 0; right: 5px;
    text-align: center;
}

.splash-head {
    font-size: 20px;
    color: #0A0545;
    font-weight: 200;
    padding: 5px;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
}

.splash-head img {
    padding-right: 3px;
}

.splash-subhead {
    color: #0A0545;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}

.splash-text {
    color: #0A0545;
    opacity: 0.8;
    text-align: center;
    padding: 3px;
}

.splash-text-left {
    color: #0A0545;
    opacity: 0.8;
    text-align: left;
    padding: 3px;
}

.splash-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5px;
}

.highlight {
    background-color: #E6E6EC;
    border: 2px solid;
    border-radius: 5px;
    border-color: #0A0545;
    padding: 5px;
}

.pure-button {
    background-color: #0A0545;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.pure-button-active {
    background-color: #FFB515;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

/* Main menu */
.pure-menu {
    color: #0A0545;
    border-bottom: 1px solid #0A0545;
    padding: 0;
    margin: 0;
}

.pure-menu-link, .pure-menu-link a:visited, .pure-menu-selected .pure-menu-link {
    color: #0A0545;
}

.pure-menu-selected, .pure-menu-selected a:visited {
    color: #0A0545;
    top: 1px;
    border: 1px solid #0A0545;
    border-bottom: 1px solid #ffffff;
}

.pure-menu-children li {
    border-style: dashed;
    border-width: 1px;
    border-color: #0A0545;    
}

.pure-menu i {
    color: #FFB515;
}

.pure-menu-fathom {
    display: inline-block;
}

.hidden {
    display: none;
}

.pure-button {
    background-color: #0A0545;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.pure-button-active {
    background-color: #FFB515;
}

.pure-button i {
    color: inherit;
    font-size: inherit;
}

.button-xsmall {
    font-size: 0.8em;
}

.button-small {
    font-size: 0.9em;
}

.button-large {
    font-size: 1.2em;
}

.button-xlarge {
    font-size: 1.4em;
}

/* Tool pages */
#container {
    position: relative;
    padding-left: 0;
    padding-bottom: 60px;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.6em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small {
    font-size: 75%;
    line-height: 1.1em;   
}

.upper {
    text-transform: uppercase;
}

.spacetop {
    margin-top : 40px;
    margin-bottom: 20px;
}

a, a:visited { 
    color: #0A0545; 
    text-decoration: underline; 
    outline: 0; 
}

p a, p a:visited { 
    color: #0A0545; 
    text-decoration: underline; 
    line-height: inherit; 
}

b { 
    color: #0A0545; 
}

blockquote {
    border-left: 2px solid #0A0545;
    padding-left: 4px;
    background-color: white;
}

.header {
     margin: 0;
     color: #0A0545;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #888;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 30px 0 10px 0;
    font-weight: 300;
    color: #888;
}

#installnote {
    margin-top: 30px;
    font-weight: 400;
    padding: 5px;
}

#mapcontainer {
    position: relative;
}

#map {
    height: 400px;
}

.fa-spinner {
    opacity: 0.5;
    color: #0A0545;
    z-index: 100;
    position: absolute;
    top: 100px;
    left: 400px;
}